
<h1>Example 2</h1>
<p>This is a chart displaying data embedded in the javascript (server side). Check the Html.Raw(ViewBag.JSON)</p>

<!--1. Load the jQUery library-->
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

<!--2. Load the Google charts-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>


<!--3. Declare the div-->
<div id="chart_div" style="width: 900px; height: 500px;"></div>

<!--4. AJAX javascript -->
<script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        var jsonData = '@Html.Raw(ViewBag.JSON)';

        // Create our data table out of JSON data loaded from server.
        var data = new google.visualization.DataTable(jsonData);

        var options = {
            title: 'Company Performance',
            hAxis: { title: 'Year', titleTextStyle: { color: '#333' } },
            vAxis: { minValue: 0 }
        };
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>

<h2>Page Source</h2>
<xmp>
    <!--1. Load the jQUery library-->
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

    <!--2. Load the Google charts-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>


    <!--3. Declare the div-->
    <div id="chart_div" style="width: 900px; height: 500px;"></div>

    <!--4. AJAX javascript -->
    <script type="text/javascript">
        // Load the Visualization API and the piechart package.
        google.load('visualization', '1', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var jsonData = '@Html.Raw(ViewBag.JSON)';

            // Create our data table out of JSON data loaded from server.
            var data = new google.visualization.DataTable(jsonData);

            var options = {
                title: 'Company Performance',
                hAxis: { title: 'Year', titleTextStyle: { color: '#333' } },
                vAxis: { minValue: 0 }
            };
            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</xmp>